<nav>
    <!-- Buttons related to non-authenticated users -->
    <div class="not-auth" *ngIf="!_auth.loggedIn()">

        <div class="leftGroup">

            <!-- Home page button -->
            <button class="home" (click)="router.navigate(['/'])" *ngIf="router.url!=='/'"
                    [matTooltip]="'home'|translate">
                <i class="fa fa-home"></i>
            </button>

        </div>

        <div class="rightGroup">

            <!-- Go to login page button -->
            <button class="login" [matTooltip]="'login'|translate" *ngIf="!router.url.includes('login')"
                    (click)="router.navigate(['login'])">
                <i class="fa fa-user"></i>
            </button>

            <!-- Languages menu toggler button -->
            <button [matTooltip]="'settings'|translate" class="settings" *ngIf="showSettings">
                <i class="fa fa-cog" [matMenuTriggerFor]="menu"></i>
            </button>

            <mat-menu #menu="matMenu" class="languageMenu" xPosition="before">
                <app-languages [menu]="true"></app-languages>
            </mat-menu>
        </div>
    </div>

    <!-- Buttons related to authenticated users -->
    <div class="auth" *ngIf="_auth.loggedIn()">

        <!-- Navigate to add-*item page button -->
        <button (click)="router.navigate([getAddBtnUrl()])" *ngIf="addBtnShow">
            <i class="fa fa-plus-square"></i>
        </button>


        <!-- Logout button -->
        <button (click)="_auth.logout()" class="logout" [matTooltip]="'logout'|translate">
            <i class="fa fa-sign-out-alt"></i>
        </button>
    </div>
</nav>
