@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.languages {
  input[type="radio"] {
    display: none;
  }
  li{
    display: inline-block;

    img{
      filter:grayscale(100%);
      opacity: 0.7;
      cursor: pointer;
    }
    img.selected{
      filter: none;
      opacity: 1;
    }
  }
}
.spaced{
  display: flex;
  justify-content: space-evenly;
}
