<!-- Navigation bar-->
<nav-bar class="navBarContainer" *ngIf="_auth.loggedIn()"></nav-bar>


<mat-sidenav-container [class.grayBg]="!_auth.loggedIn()">
    <mat-sidenav mode="side" #sidenav opened class="mat-elevation-z8" *ngIf=" _auth.loggedIn()">
        <cat-bar></cat-bar>
    </mat-sidenav>


    <mat-sidenav-content>
        <nav-bar *ngIf="!_auth.loggedIn()"></nav-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- Right sidebar-->
    <mat-sidenav opened mode="side" position="end" class="mat-elevation-z8" *ngIf="_auth.loggedIn()">
        <right-sidebar></right-sidebar>
    </mat-sidenav>
</mat-sidenav-container>