<mat-card style="overflow: scroll;height:700px;">


    <div class="formContainer" *ngIf="!filesUploaded">


        <form [formGroup]="importFilesForm" enctype="multipart/form-data" method="post">
            <mat-form-field>
                <input matInput formControlName="group" placeholder="Group" required>
            </mat-form-field>

            <ng-select [placeholder]="'File type'" formControlName="type">
                <ng-option *ngFor="let type of fileTypes" [value]="type['value']">{{type['label']}}</ng-option>
            </ng-select>

            <button mat-raised-button color="primary" class="importFiles" (click)="importFiles()">
                Import
            </button>
        </form>


        <!-- User image or drop zone container-->
        <div class="filesZone">
            <!-- Showing drop zone for non-authenticated user and for a user without a profile image -->
            <dropzone [config]="dropzoneConfig" (addedFile)="onAddedFile($event)" (removedFile)="removeFile($event)"
                      id="dropzone" class="importFilesDropzone" #dropzone (thumbnail)="onAddedFile($event)"
                      [message]="'click_drag'|translate">
            </dropzone>
        </div>
    </div>

    <div class="results">

        <!--        <div class="analisysCompleted" *ngIf="paginationApplied">-->
        <!--            <p>The files analysis completed</p>-->
        <!--            <button (click)="loadPagination()" mat-raised-button>View Results</button>-->
        <!--        </div>-->

        <!--        <button (click)="stop()">Stop</button>-->

        <div class="spinnerContainer">
            <!--            <span *ngIf="filesUploaded && !paginationApplied">{{loaderText}}</span>-->
            <mat-spinner [diameter]="50" *ngIf="filesProcessing"></mat-spinner>
        </div>


        <!--        <ng-container *ngFor="let ds of dataSource|keyvalue;let ind = index;let last = last">-->
        <!--            <h3 [hidden]="filesUploaded && !paginationApplied">{{ds['key']}}</h3>-->
        <!--            <table mat-table [dataSource]="ds['value']" class="mat-elevation-z8 resultsTable"-->
        <!--                   [hidden]="filesUploaded && !paginationApplied"-->
        <!--            >-->
        <!--                <ng-container *ngFor="let dt of getObjectKeys(ds['value'].data[0],last);let ind = index">-->
        <!--                    <ng-container matColumnDef="{{dt}}">-->

        <!--                        <th mat-header-cell *matHeaderCellDef>{{dt}}</th>-->
        <!--                        <td mat-cell *matCellDef="let el">-->
        <!--                            {{el[dt]}}-->
        <!--                        </td>-->
        <!--                    </ng-container>-->
        <!--                </ng-container>-->

        <!--                <tr mat-header-row *matHeaderRowDef="getObjectKeys(ds['value'].data[0],last)"></tr>-->
        <!--                <tr mat-row *matRowDef="let row; columns: getObjectKeys(ds['value'].data[0], last);"></tr>-->
        <!--            </table>-->
        <!--            <mat-paginator [pageSizeOptions]="[3, 10, 20]" [hidden]="filesUploaded && !paginationApplied"-->
        <!--                           showFirstLastButtons></mat-paginator>-->

        <!--        </ng-container>-->


        <ng-container *ngIf="filesUploaded && !fileDetailsShown">

            <div class="tableHeader">
                <h3>File list</h3>
                <button mat-raised-button color="primary">Active version/All versions</button>
            </div>

            <table mat-table [dataSource]="loadedData|dataSource" class="mat-elevation-z8 listTable">


                <ng-container *ngFor="let col of columns;let ind = index">
                    <ng-container matColumnDef="{{col}}">

                        <th mat-header-cell *matHeaderCellDef>{{col|replace:'_':' '}}</th>
                        <td mat-cell *matCellDef="let el;let i = index">
                            <input type="checkbox" *ngIf="col==='file_name'" [id]="'file_name'+i"
                                   (change)="selectUploadedFile(el)">
                            <label [for]="'file_name'+i">{{el[col] ? el[col] : 'n/a'}}</label>

                        </td>
                    </ng-container>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>

            <button mat-raised-button color="primary" class="showFileDetails" (click)="showFileDetails()">
                File details
            </button>

        </ng-container>

        <ng-container *ngIf="fileDetailsShown">

            <div class="tableHeader">
                <h3>Summary</h3>
            </div>
            <table mat-table [dataSource]="selectedUploadedFiles|dataSource" class="mat-elevation-z8 listTable">


                <ng-container *ngFor="let col of detailColumns;let ind = index">
                    <ng-container matColumnDef="{{col}}">

                        <th mat-header-cell *matHeaderCellDef>{{col|replace:'_':' '}}</th>
                        <td mat-cell *matCellDef="let el;let i = index">
                            <!--                            <input type="checkbox" *ngIf="col==='file_name'" [id]="'file_name'+i"-->
                            <!--                                   (change)="selectUploadedFile(el)">-->
                            <label [for]="'file_name'+i" *ngIf="col!=='actions'">{{el[col] ? el[col] : 'n/a'}}</label>
                            <button *ngIf="col==='actions'" color="warn" mat-raised-button>Details</button>
                        </td>
                    </ng-container>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: detailColumns;"></tr>
            </table>
        </ng-container>
    </div>

</mat-card>
