@import "../../../../assets/styles/_variables";
@import "../../../../assets/styles/_mixins";

.notFoundContainer{
  color: $dark_gray;
  font-weight: bold;
  text-align: center;
  h1{
    color: $gray;
  }
  mat-icon{
    background-color: $gray;
    color: $white;
  }
}