$green: #82c644;
$silver:silver;
$gray:#c6ccd4;
$dark_gray:unquote('#747474a3');
$darker_gray:#747474;
$indigo:#3f51b5;
$yellow:#ffc107;
$red:#c13535;
$white:#fff;
$silver_border:1px dotted silver;
$light_gray: #f5f5f5;
$semi_transparent_bg:rgba(1, 1, 1, 0.09);
        //rgba(1, 1, 1, 0.5)
//rgba(130, 126, 126, 0.16);