.profileImgDropzone {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-top: 35px;
  @include dropZone;

  .dz-wrapper {
    overflow: hidden!important;
    height: 342px!important;
    .dz-message {
      height: 342px!important;
    }
  }
  .dropzone .dz-preview.dz-image-preview{
    background-color: transparent;
  }
  .dz-remove{
    top: 145px;
    left:168px;
  }
}

.flagDropzone {
  width: 350px;
  height: 209px;
  overflow: hidden;
  @include dropZone;

  .dz-details{
    height:80px;
  }
  .dz-wrapper {
    overflow: hidden !important;
    height: 200px !important;
    .dz-message {
      height: 200px !important;
    }
  }
  .dz-remove{
    top:89px;
  }
  .dz-image {
    img {
      height: 200px!important;
    }
  }
}