@import './variables';
@import './mixins';


.profileImgDropzone {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-top: 35px;
  @include dropZone;

  .dz-wrapper {
    overflow: hidden !important;
    height: 342px !important;

    .dz-message {
      height: 342px !important;
    }
  }

  .dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
  }

  .dz-remove {
    top: 145px;
    left: 168px;
  }
}

.importFilesDropzone {
  width: 555px;
  height: 350px;
  overflow: hidden;

  .dz-started.dz-wrapper {
    //background-color: silver !important;
    border: 1px dashed silver;
  }

  .dz-wrapper, .dz-message {
    height: 97%;
    overflow: hidden !important;
  }

  .dz-remove {
    color: $red;
    text-decoration: none;
    margin-top: 10px;
  }

  .dz-started .dz-message, .dz-progress {
    display: none !important;
  }

}

.flagDropzone {
  width: 350px;
  height: 209px;
  overflow: hidden;
  @include dropZone;

  .dz-details {
    height: 80px;
  }

  .dz-wrapper {
    overflow: hidden !important;
    height: 200px !important;

    .dz-message {
      height: 200px !important;
    }
  }

  .dz-remove {
    top: 89px;
  }

  .dz-image {
    img {
      height: 200px !important;
    }
  }
}
